<% provide(:title, "給与管理") %>

<div class="container">
  <div class="col-md-8 col-md-offset-3">
    <%= form_with(model: @user, method: :get, local: true) do |f| %>
      <%= f.label :search, "スタッフ名検索" %>
      <div style="display: inline-flex">
        <%= f.text_field :name, class: "form-control", placeholder: "スタッフ名を入力" %>
        <%= f.submit "表示する", class: "btn btn-md btn-primary" %>
      </div>
      <div style="display: inline-flex">
        <%= f.date_field_tag, :day, class: "form-control" %>
        <%= f.submit "日毎の給与計算を表示する", class: "btn btn-md btn-primary" %>
      </div>
    <% end %>
  </div>
  <table class="table table-bordered table-condensed table-striped" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3" bgcolor="#ffd700">日時</th>
        <th rowspan="3" bgcolor="#ffd700">スタッフ名</th>
        <th rowspan="3" bgcolor="#ffd700">出勤時間</th>
        <th colspan="8" bgcolor="#ffd700">退勤時間</th>
        <th colspan="8" bgcolor="#ffd700">実労働時間</th>
        <th colspan="8" bgcolor="#ffd700">時給</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |at| %>
        <tr>
          <td rowspan="3"><%= l(at.day, format: :short) %></td>
          <td rowspan="3"><%= at.name %></td>
          <td rowspan="3"><%= at.work_start_time.floor_to(15.minutes) %></td>
          <td colspan="8"><%= at.work_end_time.floor_to(15.minutes) %></td>
          <!-- 15分を引く方法模索中-->
          <td colspan="8"><%= at.work_start_time.floor_to(15.minutes) - at.work_end_time.floor_to(15.minutes) - 15.minutes.to_i %></td>
          <td colspan="8"><%= at.text_field :hourly_wage, class: "form-control" %></td>
        </tr>
      <% end %>
      <%= at.submit "給与計算する", class: "btn btn-md btn-primary" %>
    <tfooter>
      <tr>
        <th rowspan="3" bgcolor="#ffd700">給与合計</td>
      </tr>
      <tr>
        <td>
          <% if at.work_start_time.present? && at.work_end_time.present? %>
            <%= day_hourly_wage = at.hourly_wage %>
            <%= @total_hourly_wage = @total_hourly_wage + day_hourly_wage)%>
          <% end %>
        </td>
      </tr>
    </tfooter>
  </table>
</div>     